{
  "oauth_client_id": "${OAUTH_CLIENT_ID}",
  "oauth_client_secret": "${OAUTH_CLIENT_SECRET}",
  "oauth_host": "${OAUTH_HOST}",
  "oauth_port": ${OAUTH_PORT},
  "oauth_path": "${OAUTH_PATH}",
  "oauth_method": "POST"
}